* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #09090b;
}

/* ล้างค่าตั้งต้นของ Vite ที่ทำให้เกิดเส้นและบีบหน้าจอ */
#root {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: left !important;
}